#!/usr/bin/env bash

set -e

export RS_UUID="{{.Machine.UUID}}"

{{template "setup.tmpl" .}}

# Verify that the Param exists with a "color" and "icon" value, and use the
# value from it.  If not then fall back to a default for safety.
{{if .ParamExists "colordemo/color" -}}
COLOR={{.Param "colordemo/color"}}
{{else -}}
COLOR="black"
{{end -}}

{{if .ParamExists "colordemo/icon" -}}
ICON={{.Param "colordemo/icon"}}
{{else -}}
ICON="server"
{{end -}}

echo "Setting the Color to '$COLOR' and Icon to '$ICON' for Machine '$RS_UUID'"

# do work!
drpcli machines update $RS_UUID "{\"Meta\":{\"color\":\"$COLOR\", \"icon\": \"$ICON\"}}" | jq .Meta

echo "Finished successfully"
exit 0

